
body {
    font-family: 'Poppins', sans-serif;
}
.outsideLayout {
    background: #f8f8f8 url(../imagesource//home_header_bg.png) no-repeat center 20px;
}

/* hide scrollbar for chrome, safari and opera */
.container::-webkit-scrollbar {
    display: none;
}
.go_page input {
    border-radius: 25px;
    background: #000000;
}
.date_picker_box svg {
    color: #E1E1E1;
}
.date_picker_box input {
    background: #0d0f11;
    color: #E1E1E1;
    border-radius: 25px;
    font-size: 14px;
    width: 350px;
}
.date_picker_box_light input {
    background: #E1E1E1;
    color: #0d0f11;
    border-radius: 25px;
    font-size: 14px;
    width: 350px;
}
.sidebar_menu ul li a {
  line-height: 30px;
}
.sidebar_menu ul li a.active {
    color: #ffffff;
    background: #2aa9e1;
    border-radius: 25px;
}
.sidebar_menu ul li a svg {
    padding: 5px;
}
.sidebar_menu ul li a.active svg {
    background: #ffffff;
    border-radius: 100%;
    color: #2aa9e1;
    padding: 5px;
}
/*  add css for tab section start here */
.tab_section ul {
    padding: 30px 20px;
    border-bottom: none;
}
.tab_section li {
    color: #787a7d;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    padding: 0;
    margin-right: 20px;
}
.tab_section li.react-tabs__tab--selected:before {
    display: none !important;
}
.tab_section li.react-tabs__tab--selected:focus:before {
    display: none !important;
}
.tab_section li.react-tabs__tab--selected {
    color: #2880DA;
    background: none;
    border: none;
    border-bottom: #2880DA 2px solid;
}
.react-tabs__tab:focus:after {
    display: none !important;
}

/* add css for tab section ends here */

/*  */
.team_comparisions_tab_section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #163245;
    border-radius: 25px;
    padding: 3px 5px 5px;
    border-bottom: none;
}
.team_comparisions_tab_section ul li {
    font-family: 'Syne', sans-serif;
    font-size: 15px;
    line-height: 34px;
    font-weight: bold;
    color: #C5C5C5;
    width: 50%;
    text-align: center;
}
.team_comparisions_tab_section ul li.react-tabs__tab--selected {
    background: #2aa9e1;
    border-radius: 25px;
    border: none;
    color: #ffffff;
}
/*  */
.copy_link_box input[type="text"] {
    background: #000000;
    border-radius: 25px 0 0 25px;
    border: none;
    width: 230px;
    padding-left: 10px;
    color: #ffffff;
}
.copy_link_box input[type="text"]::placeholder {
    color: #ffffff;
}
.copy_link_box input[type="text"]:focus {
    border: none !important;
    outline: none !important;
}
.copy_link_box button {
    background: #08a1f8 !important;
    border-radius: 0 25px 25px 0;
}
.copy_link_box button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important; 
    padding: 0 !important;
    box-shadow: none !important;
}
.copy_link_box input[type="submit"] {
    background: #08a1f8 !important;
    box-shadow: none !important;
}

.password_box input[type="password"] {
    background: none;
    border: none;
    color: #ffffff;
}
.password_box input[type="password"]:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.soccer_prediction {
    position: relative;
}
.soccer_prediction:before {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffffff;
    height: 10px;
    width: 70%;
    content: "";
    display: block;
}

@media only screen and (max-width:767px) {

    .team_comparisions_tab_section ul li {
        font-size: 12px;
        line-height: 34px;
    }

}

@media screen and (min-width:768px) and (max-width:1024px) {

}